*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    overflow-x: hidden;
}

:root {
    --main-blue: #4bcaff;
    --main-blue_transparent: rgba(75, 202, 255, 0.6);
    --nav-color: rgba(39, 45, 48, 0.7);
    --text-white: #ffffff;
}

.encabezado{
    display: grid;
    grid-template-rows: auto 1fr;
    background-image: url(../assets/images/Fondo.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
}


header{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center; 
    padding: 10px 40px;
    background-color: rgba(85, 91, 96, 0.747);
    height: 80px;
}

header h1{
    color: #ffffff;
    grid-column: 1/2; 
    font-weight: bold;
    font-size: 2rem;
    text-align: left;
    margin-left: 150px;
}

header h1 span{
    color: rgb(0, 217, 255);
}


nav ul{
    display: grid;
    grid-auto-flow: column;
    gap: 40px;
    list-style: none;
    color: var(--text-white);
    justify-content: end;
    align-items: center;
    margin-right: 80px;
}

nav a {
    text-decoration: none;
    color: var(--text-gray);
    font-size: 1rem;
    padding: 5px 10px;
    text-transform: uppercase;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

nav a:hover {
    color: var(--main-blue);
}

.home{
    background-color: var(--main-blue_transparent);
    border: 2px solid var(--main-blue);
    border-radius: 5px;
    color: var(--text-white);
    padding: 5px 10px;
    font-size: 1rem;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.home:hover {
    background-color: var(--main-blue);
    color: var(--text-white);
}

.Letras{
    display: grid;
    grid-template-rows: auto auto;
    justify-items: center;
    align-items: center;
    text-align: center;
    row-gap: 5px;
    padding: 200px;
    margin-top: 50px;
}

.text1{
    background-color: var(--nav-color);
    font-size: 2rem;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    margin-bottom: 80px;
    margin: 0;
}

.text2{
    background-color: var(--nav-color);
    padding: 10px 20px ;
    font-size: 2rem;
    border-radius: 5px;
    color: white;
    margin-top: 5px;
    margin: 0;
}

.container-blue{
    background-color: #00bfff;
    display: grid;
    
    justify-items: end;
    padding: 100px 0 70px 0; 
    height: fit-content;
    justify-content: center;
    gap: 10px;
    align-items: center;
} 

.services{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    gap: 15px;
    justify-items: center;
    text-align: center;
    padding: 20px;
    width: 100%;
}

.nombres{
    color: #ffffff;
    font-size: 14px;
}

.imagesWhile{
    width: 35px; 
    height: auto;
    display: block; 
    margin: 0 auto; 
}

.blue{
    color: white;
    text-align: left;
    padding: 10px;
    padding-left: 145px;
  
}

.portafolio {
    display: grid;
    justify-self: center;
    justify-items: center;
    width: 70%;
    padding: 0 0 70px 0;
}

.encabezado-portafolio{
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 70px 0;
}

.portafoliotitle {
    color: black;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;

    display: grid;
    font-weight: lighter;
}

.filtros-portafolio{
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 15px;
    font-size: 12px;
    cursor: pointer;
}

.grid-portafolio{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, auto);
    gap: 10px;
}

.DefaultSection{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--color1);
    padding: 50px 0;
    background-color: #43484d;
}

.contenido{
    display: grid;
    grid-template-rows: repeat(4, auto);
    height: fit-content;
    justify-content: center;
    align-self: center;
    gap: 10px;
    color: white;
    width: fit-content;
    justify-self: center;
}

.title4{
    display: grid;
    font-weight: lighter;
}

.tex{
    color: #ffffff;
    width: 370px;
    font-size: 11px;
    height: fit-content;
}

.boton4{
   
    color:#43484d ;
    border: 2px solid 43484d; 
    background-color: transparent;

    width: fit-content;
    height: fit-content;
    font-size: 10px;
    background-color: transparent;
    border: 2px solid var(--color2);
    padding: 7px 20px;
    color: var(--color2);
    font-weight: bold;
}

.container-twitter{
    background-color: #0aa6db;
    background-color: var(--main-blue);
    color: white;
    display: grid;
    justify-content: center;
    gap: 20px;
    padding: 50px 0;
}

.twitter{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 100%;
}

.titleTwitter{
    display: grid;
    font-weight: lighter; 
}

.content-twitter{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 100%;
}

.description{
    width: 800px;
    font-size: 20px;
}

.seccion6{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: url('../assets/images/bg_whoIs.png') center center no-repeat;
    background-size: cover;
    color: white;
    align-items: end;
    padding: 100px 0 200px 0;
    gap: 20px;
}

.whois{
    display: grid;
    justify-items: end;
    gap: 20px;
}

.whois-content{
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 20px;
}

.social-icons{
    display: grid;
    gap: 20px;
    width: fit-content;
    grid-template-columns: repeat(4, auto);
}

.social-icon{
    width: 50px;
}

.descriptionWhois{
    width: 400px;
    font-size: 10px;
    line-height: 20px;
}

.testiminials{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    color: var(--color1);
    padding: 50px 0;
}

.Testi{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 620px;
    justify-content: center;
    width: fit-content;
    justify-self: center;
}

.titleTesti{
    height: fit-content;
}

.testiminials-content{
    display: grid;
    justify-self: center;
    width: fit-content;
    gap: 15px;
    padding: 0 0 20px 0;
}

.descriptionTesti{
    width: 820px;
    font-size: 21px;
}

.testimonials-author {
    font-size: 12px;
    color: var(--main-blue);
}

.contact{
    background: url('../assets/images/bg_contact.png') center center no-repeat;
    background-size: cover;
    display: grid;
}

.contac-header{
    display: grid;
    justify-items: flex-start;
    padding: 40px 0;
    gap: 20px;
    width: fit-content;
    justify-self: center;
}

.contact-title{
    color: white;
}

.contact-form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: fit-content;
}

.form{
    display: grid;
    grid-template-columns: auto;
    width: fit-content;
    justify-items: flex-start;
    justify-self: start;
    align-content: center;
    gap: 20px;
}

.formTwo{
    display: grid;
    gap: 3px;
}

.form-input {
    width: 300px;
    height: 40px;
    outline: none;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 0 0 0 5px;
}

.form-label {
    color: white;
    font-size: 12px;
}

.formThree{
    display: grid;
    gap: 20px;
}

.contact-text {
    width: 400px;
    font-size: 13px;
    color: white;
}

.messages{
    display: grid;
    gap: 20px;
    width: fit-content;
    justify-self: center;
}

.form-textarea {
    resize: none;
    min-width: 800px;
    min-height: 200px;
    background: transparent;
    outline: none;
    border: 2px solid white;
    padding: 5px;
    color: white;
}

.contact-button {
    display: grid;
    justify-self: flex-start;
    padding: 12px 60px;
    color: white;
    background-color: var(--main-blue);
    border: none;
    outline: none;
}

.footer-links {
    display: grid;
    grid-template-columns: repeat(4, auto);
    width: fit-content;
    align-items: center;
    gap: 10px;
}

.footer-link {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
}

.footer-link:hover {
    color: var(--main-blue);
}

.footer-info {
    display: grid;
    justify-self: flex-end;
    width: fit-content;
}

footer{
    background-color: #43484d;
    
}

.form-input {
    width: 100%; 
    padding: 31px 0 14px 261px;
    font-size: 16px; 
    box-sizing: border-box; 
}

.footer-info{
    padding-right: 9px; 
 }

 @media (max-width: 900px) {
    body {
        overflow-x: hidden;
    }
    
    header {
        grid-template-columns: 1fr;
        padding: 15px;
        height: auto;
    }
    
    header h1 {
        font-size: 1.5rem;
        text-align: center;
        margin-left: 0;
    }
    
    nav ul {
        grid-auto-flow: row;
        gap: 15px;
        margin-right: 0;
        justify-content: center;
    }
    
    .encabezado {
        background-size: cover;
        background-position: center;
        padding: 40px 0;
    }
    
    
    .Letras {
        padding: 0px 20px;
        margin-top: 50px;
    }
    
    .text1, .text2 {
        font-size: 1.5rem;
        padding: 10px 20px;
        margin-bottom: 30px;
    }

    .container-blue {
        padding: 30px 10px;
        gap: 20px;
    }
    
    .services {
        grid-template-columns: 1fr;
        gap: 15px;
        padding-left: 20px;
    }
    
    .blue {
        padding-left: 60px;
    }
    
    .portafolio {
        width: 100%; 
        padding: 20px 0; 
        gap: 20px; 
    }

    .encabezado-portafolio {
        grid-template-columns: 1fr;
        padding: 40px 0;
        text-align: center; 
    }

    .grid-portafolio {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 15px; 
    }

    .grid-portafolio .card {
        width: 100%; 
        padding: 15px; 
        box-sizing: border-box; 
        background-color: #f9f9f9; 
        border-radius: 8px; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
        transition: transform 0.3s ease; 
    }

    .grid-portafolio .card:hover {
        transform: translateY(-10px); 
    }

    .DefaultSection{
        display: grid;
        grid-template-columns: 1fr;
    }

    .DefaultSection img {
        padding-left: 192px;
    }

    .twitter{
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .contact-form {
        grid-template-columns: 1fr;
        width: 100%;
        gap: 20px; 
    }


    .form-textarea {
        width: 100%; 
        min-height: 150px; 
        padding: 12px; 
        font-size: 16px; 
        box-sizing: border-box;
    }

    .contact-button {
        padding: 14px 30px;
        font-size: 1.2rem;
        text-align: center;
        background-color: var(--main-blue);
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 100%; 
    }

    .contact-button:hover {
        background-color: var(--hover-blue);
    }

    .contact-title {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 20px;
    }
}


@media (max-width: 600px) {
    
    body {
        overflow-x: hidden;
        box-sizing: border-box;
    }

    header {
        grid-template-columns: 1fr;
        padding: 15px;
        height: auto;
    }

    header h1 {
        font-size: 1.8rem;
        text-align: center;
        margin-left: 0;
    }

    nav ul {
        grid-auto-flow: row;
        gap: 20px;
        margin-right: 0;
        justify-content: center;
    }

   
    .encabezado {
        background-size: cover;
        background-position: center;
        padding: 40px 0;
    }

  
    .Letras {
        padding: 0px 15px;
        margin-top: 50px;
    }

    .text1, .text2 {
        font-size: 1.6rem;
        padding: 15px 25px;
        margin-bottom: 30px;
    }


    .container-blue {
        padding: 30px 10px;
        gap: 20px;
    }

    
    .services {
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        padding-left: 20px;
    }

    .blue {
        padding-left: 60px;
    }

    .nombres {
        font-size: 14px;
    }

    .imagesWhile {
        width: 35px;
        margin: 0 auto;
    }

    .portafolio {
        width: 90%;
        padding: 0 0 40px;
    }

    .encabezado-portafolio {
        grid-template-columns: 1fr;
        padding: 40px 0;
    }

    .grid-portafolio {
        grid-template-columns: 1fr 1fr;
    }

    .DefaultSection {
        grid-template-columns: 1fr;
        padding: 8px 0;
    }

    .contenido {
        gap: 20px;
        width: 100%;
    }

    .title4 {
        width: 100%;
        padding-left: 195px;
    }

    .tex {
        text-align: center;
        width: 100%;
        font-size: 14px;
    }

    .container-twitter {
        padding: 40px 10px;
    }

    .content-twitter{
        overflow-x: hidden;
        width: 100%;  
        box-sizing: border-box; 
        margin: 0 auto; 
        padding: 20px;  
        padding-left: 242px;
    }
    .contact-title{
        padding-left: 130px;
    }

    .titleTwitter{
        padding-left: 231px;
    }
.pajarito{
    padding-left: 0;
}
   
    .container-twitter img,
    .container-twitter .content {
    max-width: 100%;
    height: auto;    
    overflow: hidden;
}

.boton4{
    padding-left: 241px;
    font-size: 18px;
}
    .seccion6{
        grid-template-columns: repeat(1, 1fr);
    }

    .whois-content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        text-align: center;
    }

    .descriptionWhois {
        font-size: 14px;
        line-height: 1.6;
        color: #ffffff;
        max-width: 600px;
        margin: 0 auto;
    }
    

    .titleWhois{
       justify-self: left;
       padding-left: 110px;
    }

    .social-icons {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    }

    .description {
        font-size: 16px;
        width: 100%;
    }

 
    .testiminials {
        grid-template-columns: 1fr;
    }

    .Testi {
        grid-template-columns: 1fr;
    }

    .descriptionTesti {
        width: 100%;
        font-size: 18px;
    }

    .testimonials-author {
        font-size: 12px;
        color: var(--main-blue);
    }

    .contact-form {
        grid-template-columns: 1fr;
        width: 100%; 
        padding: 20px;
        gap: 15px; 
        align-items: center;
    }

    .form-input {
        width: 100%;
        padding: 31px 0 14px 261px ;
        font-size: 14px;

    }

    .form-textarea {
        padding: 31px 0 14px 261px;
        min-height: 150px;
        min-width: 50px;
    }

    .contact-button {
        margin-left: 125px;
        padding: 12px 60px;
        font-size: 1rem;
    }

   
    .footer-links {
        display: grid;
        grid-template-columns: repeat(4, auto);
        justify-content: center;
        gap: 30px;
        text-transform: uppercase;
        text-align: center;
    }

    .footer-info {
        justify-self: center;
        padding-right: 0;
    }
}


@media (max-width: 480px) {
body {
    overflow-x: hidden;
}

header {
    grid-template-columns: 1fr;
    padding: 15px;
    height: auto;
}

header h1 {
    font-size: 1.5rem;
    text-align: center;
    margin-left: 0;
}

nav ul {
    grid-auto-flow: row;
    gap: 15px;
    margin-right: 0;
    justify-content: center;
}

.encabezado {
    background-size: cover;
    background-position: center;
    padding: 40px 0;
}


.Letras {
    padding: 0px 20px;
    margin-top: 50px;
}

.text1, .text2 {
    font-size: 1.5rem;
    padding: 10px 20px;
    margin-bottom: 30px;
}

.container-blue {
    padding: 30px 10px;
    gap: 20px;
}

.services {
    grid-template-columns: 1fr;
    gap: 15px;
    padding-left: 20px;
}

.blue {
    padding-left: 60px;
}

.nombres {
    font-size: 12px;
}

.imagesWhile {
    width: 30px;
    margin: 0 auto;
}


.portafolio {
    width: 90%;
    padding: 0 0 40px;
}

.encabezado-portafolio {
    grid-template-columns: 1fr;
    padding: 40px 0;
}

.grid-portafolio {
    grid-template-columns: 1fr;
}


.DefaultSection {
    grid-template-columns: 1fr;
    padding: 8px 0;
}

.contenido {
    width: 100%;
}
    
.DefaultSection img {
    padding-left: 72px;
    width: 70dvb; 
   
}

.boton4{
    padding-left: 202px;
    padding-left: 0;
    width: auto;
}

.title4 {
    padding-left: 139px;
    width: 76%;
    padding-left: 0;
    width: 100%;
}

.tex {
    width: 100%;
    font-size: 13px;
}

.container-twitter {
    padding: 20px 10px;
    height: 57vh; 
}

.twitter{
    width: 18%;
}

.titleTwitter{
    padding-left: 39px; 
    padding-left: 0;
}

.social-icons {
    grid-template-columns: 1fr;
}

.description {
    font-size: 16px;
    width: 100%;
    text-align: center;
}

.content-twitter{
    width: 18%; 
    
}

.pajarito{
    padding-left: 0;
}
   
.testiminials {
    grid-template-columns: 1fr;
}

.Testi {
    grid-template-columns: 1fr;
}

.descriptionTesti {
    width: 100%;
    font-size: 18px;
}

.testimonials-author {
    font-size: 12px;
    color: var(--main-blue);
}

.contact {
    padding: 15px;
    overflow-x: hidden;
    max-width: 600px;
    margin: 0 auto; /
}

.contac-header {
    text-align: center;
    
}

.divTwitter{
    margin-left: 170px;
}
.contact-title {
    padding-left: 158px;
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.contact-form {
    width: 100%;
    margin-bottom: 20px;
}

.form-textarea { min-width: 10px; }

.form {
    margin-bottom: 15px;
}

.formTwo, .formThree {
    margin-bottom: 15px;
}

.form-input,
.form-textarea {
    width: 100%;  
    font-size: 0.9rem;
    padding: 10px;
    box-sizing: border-box; 
    margin: 0 auto; 
    padding-left: 263px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-textarea {
    min-height: 120px;
    resize: vertical;
}

.contact-text {
    font-size: 0.9rem;
    line-height: 1.4;
    text-align: center;
}

strong {
    color: #ffffff;
    padding-left: 9px;
}

.contact-button {
    display: block;
    max-width: 200px;
    margin: 15px 134px;
    width: 20%; 
    padding: 12px;
    font-size: 1rem;
    margin-top: 10px;
}

.footer-links {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    gap: 20px;
    text-transform: uppercase;
    text-align: center;
}

.footer-info {
    text-align: center;
    padding-right: 0;
    font-size: 0.9rem;
}
}
 